# Python-virtuaaliympäristöt
venv/
env/
.myenv/
myenv/

# Python-väliaikaiset tiedostot
__pycache__/
*.py[cod]

# Jupyter Notebook -tiedostot
.ipynb_checkpoints/

# Muut väliaikaiset tiedostot
*.log
*.tmp
*.bak

# Matplotlib tallennetut kuvat
*.png
*.jpg
*.jpeg